#logs
*.log

#docker
.dockerignore
docker-compose.yml
DockerFile
/mysql_data
/mongo_data

#git
*/.git/
.gitignore

#visual
*/.vscode
.README.md

#default
/dist
/aws
/test
/node_modules
/coverage
*.env
# Elastic Beanstalk Files
.elasticbeanstalk/*
.git
.gitignore